*{  margin:0;
    padding: 0;}


body{
    background-color: rgb(55, 55, 160);
    font: normal 15pt Arial;

}
header {
    text-align: center;
    color: white;
    margin-top: 3%;
    margin-bottom: 10px;
}
section{
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534)
}
footer{
    text-align: center;
    color: white;
    margin-top: 10px;

}

input#botao{
    margin-top: 15px;
    height: 40px;
    width: 110px;
    border-radius: 7%;  
    background-color: rgb(43, 106, 151);
    border-color: rgb(43, 106, 151);
    color: white;
    margin-bottom: 15px;

}
input#fem{
    margin-left: 15px;
}
input#masc{
    margin-left: 5px;
}

input#txtano{
    width: 250px;
    height: 25px;
    background-color: rgb(136, 136, 136, 0.2);
    border-radius: 15%;
    border-color:rgb(136, 136, 136, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
}
 
img#foto{
    margin-top: 15px;
}